@model ADOPrac.BusinessLogicLayer.Models.Company

<h1>Company Details</h1>

<div>
	<p>Company Id : @Model.CompanyId</p>
	<p>Company Name : @Model.CompanyName</p>
	<p>Company Address : @Model.CompanyAddress</p>
	<a asp-action="Company" asp-controller="Company" class="btn btn-primary">Go Back</a>
</div>