@model _23012025.Models.CompanyModel
@{
    ViewData["Title"] = "Company";
}

<form method="post">
    <div>
        <label asp-for="CompanyName"></label>
        <input type="text" asp-for="CompanyName" value=""/>
        <span asp-validation-for="CompanyName"></span>
        
    </div>
    <div>
        <label asp-for="GST"></label>
        <input type="text" asp-for="GST" value="" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" value="" />
    </div>

    <input type="submit" value="Submit" />
</form>

