@model ADOPrac.BusinessLogicLayer.Models.Country

<h1>
	Update
</h1>

<form method="post" asp-action="Update" asp-controller="Country">
	<input type="number" value="@Model.CountryId" readonly asp-for="CountryId" />
	<input type="text" value="@Model.CountryName" asp-for="CountryName" />
	<input type="text" value="@Model.CountryDescription" asp-for="CountryDescription" />
	<input type="submit" class="btn btn-success" />
</form>
